*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#fafafa;
}

header{
background:#111;
padding:20px 8%;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:#ff4081;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url("https://images.unsplash.com/photo-1445205170230-053b83016050?w=1200");
background-size:cover;
background-position:center;
color:white;
}

.hero-content h1{
font-size:3rem;
}

.hero-content p{
margin:20px 0;
}

.btn{
background:#ff4081;
color:white;
padding:12px 25px;
text-decoration:none;
border-radius:8px;
}

section{
padding:80px 8%;
text-align:center;
}

h2{
margin-bottom:40px;
}

.container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.card h4{
margin-top:10px;
color:#ff4081;
}

.offer-box{
max-width:500px;
margin:auto;
background:#ff4081;
color:white;
padding:30px;
border-radius:10px;
}

form{
max-width:600px;
margin:auto;
}

input,
textarea{
width:100%;
padding:15px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:5px;
}

button{
width:100%;
padding:15px;
background:#ff4081;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

nav{
flex-direction:column;
gap:15px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
}

.hero-content h1{
font-size:2rem;
}

}